<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>transferS</servlet-name>
        <servlet-class>ca.pandcbank.controller.transferS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transferA</servlet-name>
        <servlet-class>ca.pandcbank.controller.transferA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountsA</servlet-name>
        <servlet-class>ca.pandcbank.controller.accountsA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settingsA</servlet-name>
        <servlet-class>ca.pandcbank.controller.settingsA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>settingS</servlet-name>
        <servlet-class>ca.pandcbank.controller.settingsS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerS</servlet-name>
        <servlet-class>ca.pandcbank.controller.registerS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerA</servlet-name>
        <servlet-class>ca.pandcbank.controller.registerA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginA</servlet-name>
        <servlet-class>ca.pandcbank.controller.loginA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginSS</servlet-name>
        <servlet-class>ca.pandcbank.controller.loginSS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homepageA</servlet-name>
        <servlet-class>ca.pandcbank.controller.homepageA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutS</servlet-name>
        <servlet-class>ca.pandcbank.controller.logoutS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transferS</servlet-name>
        <url-pattern>/transferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transferA</servlet-name>
        <url-pattern>/transferAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountsA</servlet-name>
        <url-pattern>/accountsAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settingsA</servlet-name>
        <url-pattern>/settingsAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>settingS</servlet-name>
        <url-pattern>/settingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerS</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerA</servlet-name>
        <url-pattern>/registerAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginA</servlet-name>
        <url-pattern>/loginAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginSS</servlet-name>
        <url-pattern>/loginSServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homepageA</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutS</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
